<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POSIT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2B56F821F2E316200FD6CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2B56F961F2E316300FD6CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2B56FA11F2E316300FD6CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
